.container {
  width: 100%;
}

.explore {
  width: 100%;
  height: 100%;
  margin: 30px 0 30px 0;
  background: url("../images/sofa-bg-banner.jpg") no-repeat;
  background-size: cover;
  height: 34em;
  border-radius: 5px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* padding: 80px; */
}

.explore-elements {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  margin-top: auto;
  margin-bottom: auto;
}

.explore-elements h1 {
  gap: 10px;
  line-height: 1.4em;
  font-weight: 600;
  color: #607d8b;
  font-size: 4rem;
}

.explore-elements a {
  width: 12em;
  color: black;
  margin-top: 55px;
  padding: 16px 0;
  border: 2px solid #607d8b;
  text-align: center;
  transition: all 0.25s;
}

.explore-elements a:hover {
  color: snow;
  background: #607d8b;
}

.product1 {
  display: flex;
  margin: 0 0 30px 0;
  gap: 25px;
}

.product1-img {
  border-radius: 5px;
}

.product1-view {
  width: 100%;
  background: url("../images/product-view.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.product1-view-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product1-view-element {
  margin-bottom: 20px;
  line-height: 1.4em;
  font-weight: 600;
  color: #607d8b;
}

.product1-view-elements h1 {
  font-size: 3em;
}

.product1-view-elements a {
  width: 220px;
  padding: 16px 20px;
  margin-top: 10px;
  border: 2px solid #607d8b;
  color: black;
  text-align: center;
  transition: all 0.25s;
}

.product1-view-elements a:hover {
  color: snow;
  background: #607d8b;
}

.product2 {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 30px 0;
  gap: 25px;
}

.product2-img {
  border-radius: 5px;
}

.product2-view {
  width: 100%;
  background: url("../images/product-view.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 80px;
}

.product2-view-elements {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.product2-view-element {
  margin-bottom: 20px;
  line-height: 1.4em;
  font-weight: 600;
  color: #607d8b;
}

.product2-view-elements h1 {
  font-size: 3em;
}

.product2-view-elements a {
  width: 220px;
  padding: 16px 20px;
  margin-top: 10px;
  border: 2px solid #607d8b;
  color: black;
  text-align: center;
  transition: all 0.25s;
}

.product2-view-elements a:hover {
  color: snow;
  background: #607d8b;
}
.features {
  display: flex;
  justify-content: space-around;
  margin: 20px 0 30px 0;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.offer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 23.5em;
  background-image: url("../images/cactus.png");
  background-color: #f0f0f0;
  background-size: cover;
  border-radius: 5px;
  /* margin: 0 0 80px 0; */
  padding: 0 80px;
}

.offer-elements {
  display: flex;
  flex-direction: column;
}

.offer-elements h1,
h2,
a {
  margin-bottom: 20px;
}

.offer-elements h1 {
  font-size: 3em;
  color: #a71052;
}

.offer-elements h2 {
  font-size: 2.5em;
  color: #607d8b;
}

.offer-elements a {
  width: 10em;
  border: 2px solid #607d8b;
  color: black;
  padding: 16px 18px;
  text-align: center;
  margin-top: 10px;
  transition: all 0.25s;
}

.offer-elements a:hover {
  color: snow;
  background: #607d8b;
}

.l-p {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 80px 0 60px 0;
}

.l-p-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.l-p-title h1 {
  color: #607d8b;
  padding: 32px 0;
  font-weight: 200;
}

.l-p-title div {
  width: 6%;
  border: 1px solid #78909c;
}

.p-list {
  display: flex;
  justify-content: space-around;
}

.p-all {
  box-shadow: 0 0 2px -1px black;
  padding: 0 0 10px 0;
}

.p-all img {
  width: 260px;
}

.p-all img:hover {
}

.p-all p,
del {
  padding: 0 10px;
}

.p-title {
  color: #78909c;
  font-weight: 200;
  font-size: 0.85em;
  margin-bottom: 10px;
  line-height: 1.3;
}

.p-description {
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1em;
  color: #607d8b;
}

.p-price {
  color: #3a3a3a;
}

.p-2 del {
  color: rgb(173, 173, 173);
}
